@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "./node_modules/flowbite";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-light-grey: #fefefe;
    --color-dark-grey: #454545;
    --font-ubuntu: "Ubuntu", sans-serif;
    --font-merriweather: "Merriweather Sans", sans-serif;
}

@layer theme {
    .dark {
        --color-light-grey: #454545;
        --color-dark-grey: #fefefe;
    }
}

/* custom rules */
.btn {
    @apply rounded-full bg-white/90 px-3 py-2 shadow-lg ring-1 shadow-zinc-800/5 ring-zinc-900/5 backdrop-blur-sm transition hover:cursor-pointer;
}
.nav-items {
    @apply text-center py-3 text-xl hover:bg-gray-300/50 rounded-sm font-extralight cursor-pointer dark:hover:bg-dark-grey dark:hover:text-light-grey tracking-wider;
}
.section-img {
    @apply opacity-90 hover:opacity-100;
}
.input-border {
    @apply border-t border-b;
}
.login-btn {
    @apply border flex justify-center items-center rounded-sm p-2 cursor-pointer hover:bg-dark-grey hover:text-light-grey dark:hover:bg-light-grey dark:hover:text-dark-grey;
}
